<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ greeting }}</h1>
    <ul>
        % for item in items:
            <li>{{ item }}</li>
        % end
    </ul>
</body>
</html>